
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    }
    
    .navbar{
        box-shadow: 0px 5px 5px rgba(174, 171, 171, 0.4);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
    
    
    .navbar-brand{
        font-size: 3rem;
        color:  rgb(29, 29, 70);
        font-family: "Copperplate", fantasy;
        
    }
    .nav-link{
        color: rgb(29, 29, 70);
    }
    .nav-link:hover{
        color: rgb(164, 164, 231);
        transition: 0.3s ;
    }
    .nav-item{
        font-family: "Monaco", Monospace;
        font-weight: bold;
        font-size: 1.2rem;
        padding-right: 20px;
    }
    .btn0{
        font-family: "Monaco", Monospace;
        font-weight: bold;
        height: 52px;
        width: 130px;
        outline:none;
        border: none;
        color: white;
        cursor: pointer;
        transition: all 0.4s;
        background-color: rgb(147, 147, 179);
    }
    
    .btn0:hover{
        background: rgb(164, 164, 231);
        transition: all 0.4s;
    }
    
    .btn1{
        font-family: "Monaco", Monospace;
        font-weight: bold;
        height: 52px;
        width: 130px;
        color: rgb(29, 29, 70);
        cursor: pointer;
        transition: all 0.4s;
        background-color: transparent;
    }
    
    .btn1:hover{
        background: rgb(164, 164, 231);
        transition: all 0.4s;
        color: white;
        border: none;
        outline: none;    
    }
    /* ========================= main section ==========================*/
    .main{
        margin: 0;
        padding: 0;
        background: url(./imgs/background1.jpg)no-repeat;
        background-size: cover;
        background-position: top left;
        min-height: 95vh;
        width: 100%; 
    }
    
    .main h1{
        font-size : 2.5rem;
        font-weight: 500px;
        color: rgb(29, 29, 70);
        font-family: "Copperplate", fantasy;
        padding-top: 50px;
        padding-bottom: 40px;
        word-spacing: 5px;
        letter-spacing: 1px;
    
    }
    
    .main p{
        font-size : 1.5rem;
        padding-right: 20px;
        font-weight: 500px;
        color: rgb(29, 29, 70);
        font-family: "Chalkduster", Cursive;
    
    }